{% capture none %}
	{% assign price_min = product.price_min | money | remove: '.00' %}
	{% assign price_max = product.price_max | money | remove: '.00' %}
{% endcapture %}

{% if simple_format %}

	<span class="price">
		{{ product.price | money | remove: '.00' }}
		<s style="opacity: 0.5;">{{ product.compare_at_price | money | remove: '.00' }}</s>
	</span>

{% elsif product.has_only_default_variant == false %}

	<span class="price">{{ price_min }} ~ {{ price_max }}</span>

{% else %}

	{% if product.compare_at_price_min > product.price and
		product.compare_at_price_max != 0 %}
		<span class="price">
			{{ price_min }}
			<s style="opacity: 0.5;">{{ product.compare_at_price_min | money | remove: '.00' }}</s>
		</span>
	{% else %}
		{{ price_min }}{% if price_min != price_max %}+{% endif %}
	{% endif %}

{% endif %}

{% unless product.available %}
	<span class="cr-subdued"> — Sold Out</span>
{% endunless %}