<!DOCTYPE html>
{% include 'html-page-variables' %}

<!--[if lt IE 7]><html id="{{ page_id }}" class="no-js lt-ie9 lt-ie8 lt-ie7 {{ page_class }}" lang="{{ page_isocode }}"> <![endif]-->
<!--[if IE 7]><html id="{{ page_id }}"  class="no-js lt-ie9 lt-ie8 {{ page_class }}" lang="{{ page_isocode }}"> <![endif]-->
<!--[if IE 8]><html id="{{ page_id }}" class="no-js lt-ie9 {{ page_class }}" lang="{{ page_isocode }}"> <![endif]-->
<!--[if IE 9]><html id="{{ page_id }}" class="ie9 no-js {{ page_class }}" lang="{{ page_isocode }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html id="{{ page_id }}" class="{{ page_class }}" lang="{{ page_isocode }}">
  <!--<![endif]-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="icon" href="{{ 'favicon.ico' | asset_url }}">

    {{ content_for_header }}
    {% include 'html-page-sharing' %}

    {% comment %}  inline CSS, to avoid style flash  {% endcomment %}
    {% capture html_init %}
      {% include 'html-css-reset' %}
      {% include 'html-css-utilities' %}
      {% include 'html-css-animations' %}
      {% include 'html-css-first-paint' %}
    {% endcapture %}

    {{ html_init | strip_newlines | replace: '  ', '' }}
    {{ "styles.min.css" | asset_url | stylesheet_tag }}

  </head>

  <body>

    <main id="main">

				{{content_for_layout}}

        {% if shop.password_message != blank %}
          <p>{{ shop.password_message }}</p>
        {% endif %}

        <div class="password-form-wrapper">
          {% form 'storefront_password' %}
            {{ form.errors | default_errors }}
            <div class="{% if form.errors %}has-errors{% endif %}" data-password-form-inner>
              <label for="password">Password</label>
              <input id="password" class="btn" type="password" name="password" placeholder="Password">
              <input class="submit btn" name="submit" type="submit" value="Submit">
            </div>
          {% endform %}
        </div>

    </main>


  </body>
</html>
