{% schema %}
{
	"name": "Header",
	"settings": [
		{
			"type": "link_list",
			"id": "menu",
			"label": "Menu"
		}
	]
}
{% endschema %}

{% assign menu = linklists[section.settings.menu] %}

<header class="global-header f-v f-j-c">
<div class="c f-h f-j-b">

	<button class="header-trigger tablet-down-only" id="mobile-actions-cart-trigger" aria-label="Toggle menu">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>

	<a
		class="header-logo no-text-space p-center"
		href="{{ shop.url }}"
		aria-label="{{ shop.name | escape }} logo with link to homepage">
		<div class="main_logo_wrap">
			{% render 'svg-logo' %}
		</div>
	</a>

	<nav class="header-links f-h f-auto f-j-b f-a-c tablet-up-only">

		{% if menu.links != blank %}

			<ul class="linklist f-h">
				{% for link in menu.links %}
					{% if forloop.index <= 3 %}
						<li class="linklist-item {% if link.active == true %}is-active{% endif %}">
							<a class="t-l-1" href="{{ link.url }}">{{ link.title }}</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>

			<ul class="linklist f-h">
				{% for link in menu.links %}
					{% if forloop.index > 3 %}
						<li class="linklist-item {% if link.active == true %}is-active{% endif %}">
							<a class="t-l-1" href="{{ link.url }}">{{ link.title }}</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>

		{% endif %}

	</nav>

	<div class="header-actions f-none">
		<!-- {% if shop.customer_accounts_enabled %}
			<a href="{{ shop.url | append: '/account' }}">Your Account</a>
		{% endif %} -->

		<a class="header-cart f-h f-j-c f-a-c" href="{{ shop.url | append: '/cart' }}">
			{% render 'svg-icons', icon: 'cart' %}
		</a>
		<span class="cart-total-items t-l-1">{{ cart.item_count }}</span>
	</div>

</div>

<div class="header-links--mobile f-v f-auto t-center tablet-down-only">

	{% if menu.links != blank %}

		<nav class="header-links f-v f-auto f-j-c">
			<ul class="linklist">

				{% for link in menu.links %}

					<li class="linklist-item {% if link.active == true %}is-active{% endif %}">
						<a class="t-l-1 cr-primary" href="{{ link.url }}">{{ link.title }}</a>
					</li>

				{% endfor %}

			</ul>
		</nav>

	{% endif %}

</div>

</header>