<div class="header-space"></div>

<section class="product-hero">
	{% assign product_images = product.images %}

  <div class="hero-images {% if product_images.size > 1 %}product-slider{% endif %}">
		{% for image in product_images %}
			<div class="product-image {% if product_images.size > 1 %}flickity-slide{% endif %}">
				<span class="object-fit">
					{% render 'img-srcset',
						image: image,
						max_width: 1800,
						alt: image.alt %}
				</span>
			</div>
		{% endfor %}
  </div>

	<div class="hero-content">

		<div class="content-header">
			<h1 class="product-title t-h-2 {% if product.variants.size > 1 %}cr-secondary{% endif %}">{{ product.title }}</h1>

			{% if product.variants.size == 1 %}
				<div class="content-price t-h-2 t-center">
					{% render 'item-price' %}
				</div>
			{% endif %}
		</div>

		<div class="content-description t-b-1">
			{{ product.description }}
		</div>

		<form
			class="content-form"
			action="/cart/add"
			method="post"
			enctype="multipart/form-data">
			{% if product.variants.size > 1 %}
				<div class="product-variants product-slider-nav">
					<p class="t-l-2 mb-2">Options</p>
					<div class="product-variant">
						{% for variant in product.variants %}
							<input
								class="product-variant-selector"
								id="product-variant-{{ variant.id }}"
								type="radio"
								name="id"
								value="{{ variant.id }}"
								{% if variant.available == false %}
									disabled
								{% endif %}
								{% if variant.id == product.selected_or_first_available_variant.id %}
									checked
								{% endif %}
								style="background-image: url('{{ variant.image.src | image_url }}');"
								>
							{% endfor %}
					</div>
					<div class="product-variant-info">
						{% for variant in product.variants %}
							<label class=" t-h-3 {% if variant.id == product.selected_or_first_available_variant.id %}is-selected{% endif %}" for="product-variant-{{ variant.id }}">
								{{ variant.title }}
								<span class="price">{{ variant.price | money | remove: '.00' }}</span>
							</label>
						{% endfor %}
					</div>
				</div>
				{%- comment -%}
				<select name="id">
					<option selected disable>Select a variant</option>
					{% for variant in product.variants %}
						<option
							value="{{ variant.id }}"
							{% if variant.available == false %}
								disabled
							{% endif %}
							{% if variant.id == product.selected_or_first_available_variant.id %}
								selected
							{% endif %}>
							{{ variant.title }}
							{% if variant.available == false %} - Sold Out{% endif %}
						</option>
					{% endfor %}
				</select>
				{%- endcomment -%}
			{% else %}
				<input
					type="hidden"
					name="id"
					value="{{ product.selected_or_first_available_variant.id }}">
			{% endif %}

			<div class="product-purchase">
				{% render 'item-quantity' %}

				{% if product.available %}
					<button
						class="btn btn--primary"
						type="submit">
					Add to Cart</button>
				{% else %}
					<button
						class="btn btn--primary"
						disabled>
						Sold Out</button>
				{% endif %}
			</div>
		</form>

		<ol class="product-details">
			<li class="t-b-1">Allergy Friendly</li>
			<li class="t-b-1">Calorie Free</li>
			<li class="t-b-1">Sugar Free</li>
		</ol>

	</div>
</section>